.forecast__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 9px 5px;
    grid-auto-flow: row;
    background: linear-gradient(180deg, #3c6fd1 0%, #3c6fd1 0.01%, #7ca9ff 100%);
    padding: 25px;
    border: 0.2px solid rgb(53, 89, 162);
    height: 180px;
    transition: 0.5s ease-in-out;
    border-radius: 25px;
  }
  
  .forecast__card:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: 1453px) {
    .forecast__card {
      padding: 5px;
    }
  }
  @media screen and (max-width: 1268px) {
    .forecast__card {
      grid-template-columns: min-content min-content;
      justify-content: center;
    }
  }
  